@model Vagant.Web.Models.Event.EditEventViewModel

@{
    ViewBag.Title = "Event Editing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/css/Event")
}

@section BodyScripts {
    @Scripts.Render("~/bundles/Event")
}

<div class="page event-page">
    <div class="event-header">
        <div class="event-image-container">
            <img class="profile-image" src="" alt="no image" />
        </div>
        <div class="event-main-information">

        </div>
    </div>
    <div class="event-body">

    </div>
</div>

